<!--General Nav Bar for the landing page-->
<nav >
  <div class="title">
    <fa-icon class="icon" [icon]="faSquareFull"></fa-icon>  
    <h1>EXPERT WITH THE RARES</h1>
  </div>
  <div class="hamburguer" (click)="transitionF()">   
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
  </div>
  <ul class="nav-links">
    <li><a href="#">HOME</a></li>
    <li><a href="#">HUNTER</a></li>
    <li><a href="#">FABRY</a></li>
    <li><a href="#">GAUCHER</a></li>
  </ul>
</nav>
<!--Router object that display the modules-->
<router-outlet></router-outlet>
<!--General footer that contains legal matters-->
<footer>
  <div>
    <div class="size">
      <p style="font-size:.6em;color: white;">Por favor considere el medio ambiente antes de imprimir este e-mail. Este correo electrónico y cualquier archivo transmitido con él, contienen información confidencial, privilegiada y legalmente protegida. Está dirigida únicamente para la consideración y/o uso de la persona o entidad a la que se dirigen. Si no es el destinatario previsto, tenga en cuenta que cualquier divulgación, distribución o copia de este correo electrónico está estrictamente prohibido y puede ser ilegal. Si se recibió por error, elimine este correo electrónico y los archivos adjuntos y confirme esto al remitente. Al recibir este correo electrónico usted reconoce que cualquier incumplimiento por usted y/o sus representantes de las disposiciones anteriores puede dar derecho a Shire Ecuador S.A. y/o a Takeda Ecuador Cia. Ltda.a interponer las acciones legales y administrativas que estime pertinentes por los daños y perjuicios irrogados.
        Código: C-APROM/CO/HG/0008
        Contacte al Área Médica de Shire Ecuador S.A. y/o Takeda Ecuador Cia. Ltda. para recibir la información de prescripción dirigida al cuerpo médico.
        Para el reporte de eventos adversos u otra información de seguridad, por favor reportarlo al correo ae.brasam@takeda.com.
        Quito,Ecuador | Teléfono: +593 2 3945060 | www.takeda.com/es-ec/
        Respetamos su derecho a la privacidad - vea nuestro Aviso de Privacidad
        Para dejar de recibir mensajes futuros haga clic en el enlace de "Salir de la lista de distribución"</p>
    </div>
    <div>
      <!--Takeda image-->
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Logo_Takeda.svg/1280px-Logo_Takeda.svg.png" style="width: 20vh; height:8vh;margin-top: 25px;margin-bottom: 25px;">
    </div>
</div>
</footer>